

nav{
  background: white;
  height: 120px;
  width: 100%;
  float: center;
  padding-bottom: -10px;
 background-image: linear-gradient( #E8AAAD ,white);
  }
nav ul{
  float: center;
}
nav ul li{
  display: inline-block;
  line-height: 110px;
  margin: 0 30px;
}
#small{
  font-family: 'Lateef', cursive;
  color: #E8AAAD;
  font-size:20px ;
}
nav ul li a{
  font-family: 'Lateef', cursive;
  color: #683B2B;
  font-size: 19px;
  border-radius: 3px;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.1s ease-out;
}
nav ul li a:hover{
  -webkit-transform: scale(1.1);
  color: #E8AAAD;
  cursor: pointer;
}

.vl {
  border-left: 1px solid brown;
  padding-top: 50px;
  height: 100px;
}

#headerlogo{
    width: 150px;
	height: 130px;
	margin-left: -85px;
	margin-top: -20px;
    position: absolute;
}
        
#headerlogotext{
    font-family: 'Vogue';
	font-size: 18px;
    padding-top: 35px;
}     
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #c97b80;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
#deco{
    background-image: url("2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}    



/* Footer */


/* Footer */


.site-footer
{
  background-color:#f8f1f1;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#c97b80;
  font-size:20px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  font-family:'Vogue', serif;
}
.site-footer a
{
  color: black;
}
.site-footer a:hover
{
  color:#c97b80;
  text-decoration:none;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
  width: 80%;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: white;
  border: 1px solid #2E2E2E;
  color: black;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #6a3a2d;
    padding: 13px 20px;
    border: 1px solid #6a3a2d;
    top: 0;
	bottom: 1;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#c97b80;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.in-text
{
  margin:0;
  color: black;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.footer-icon1 ::before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: ##ffffff;
}

.footer-icon2 ::before {
    content: "\f01c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: ##ffffff;
}

.footer-icon3 ::before {
    content: "\f10b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: ##ffffff;
}

.footer-icon4 ::before {
    content: "\f095";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: ##ffffff;
}

.footer-icon5 ::before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: ##ffffff;
}

.footer-social-icons a {
    text-decoration: none;
    color: #fff;
}
.footer-social-icons p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
	margin-top: -15px;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #c97b80;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #c97b80;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #c97b80;
}
.fa-instagram:hover {
    background-color: #5a32a3;
}